/* ChartAxes.module.css */

.axis {
	fill: none;
}

.xAxis {
	grid-area: xAxis;
	/* background-color: lightpink; /* Debugging */
}

.yAxis {
	grid-area: yAxis;
	/* background-color: lightblue; /* Debugging */
}

.axisLine {
	stroke: var(--border-minor);
	stroke-width: 1;
}

.axisLabelX,
.axisLabelY {
	fill: var(--text-minor);
	font-family: var(--font-display);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	letter-spacing: var(--letter-spacing-wide);
	text-transform: uppercase;
}

.axisLabelX {
	transform: translateY(calc(var(--space-sm) * -1));
}

.axisLabelY {
	transform: translateX(calc(var(--font-size-md) + var(--space-sm)));
	writing-mode: sideways-lr;
}

.tick line {
	shape-rendering: geometricPrecision;
}

/* Axes tick labels */
.tick text {
	fill: var(--text-minor);
	font-family: var(--font-display);
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-sm);
}

.xAxis .tick text {
	transform: translateY(var(--space-xs));
	text-anchor: middle;
}

.yAxis .tick text {
	transform: translateX(calc(var(--space-xsm) * -1));
	text-anchor: end;
}
