/* ChartBrush.module.css */

/* Brush control container */
.chartBrush {
	fill: rgba(0,0,0,0);
}

.chartBrushControl {
	fill: var(--brand-primary);
}

.chartBrushScatter .chartBrushScatterBackground {
	fill: var(--text-minor);
}

.chartBrushScatter .paxClassRange {
	fill: var(--background);
}

.chartBrushScatter .paxLimitRange {
	stroke: var(--background);
}

.chartBrushControl .chartBrushScatterBackground {
	fill: var(--brand-primary);
}

.chartBrushControl .paxClassRange {
	fill: var(--background);
}

.chartBrushControl .paxLimitRange {
	stroke: var(--background);
}