/* Branding tokens and font-face definitions */

:root {
	/* === Primitives === */
	--white: #ffffff;
	--black: #000000;
	--black-rgb: 0, 0, 0;

	/* Red Treble Ramp */
	--red-treble-50: #fff6f1;
	--red-treble-100: #ffcec3;
	--red-treble-200: #ffa493;
	--red-treble-300: #ff715d;
	--red-treble-400: #f24c39;
	--red-treble-500: #d32a1a; /* Primary brand colour, light mode */
	--red-treble-500-rgb: 211, 42, 26;
	--red-treble-600: #b50000;
	--red-treble-700: #900000;
	--red-treble-800: #6a0000;
	--red-treble-900: #450000;
	--red-treble-950: #240000;

	/* Red Bass Ramp */
	--red-bass-50: #260000;
	--red-bass-100: #360c0d;
	--red-bass-200: #700006;
	--red-bass-300: #9b000f;
	--red-bass-400: #be1829;
	--red-bass-500: #de3f44;
	--red-bass-600: #ff5f5f; /* Primary brand colour, dark mode */
	--red-bass-700: #ff8681;
	--red-bass-800: #ffafa9;
	--red-bass-900: #ffd3cf;
	--red-bass-950: #fff8f6;

	/* Neutral Greys */
	--neutral-black: #000000;
	--neutral-white: #ffffff;
	--neutral-black-rgb: 0, 0, 0;
	--neutral-white-rgb: 255, 255, 255;

	/* Grey Ramp */
	--grey-50: #0c0d0d;
	--grey-100: #1d1f1f;
	--grey-200: #2c2d2e;
	--grey-300: #444647;
	--grey-400: #5d5f61;
	--grey-500: #747678;
	--grey-600: #8d8e91;
	--grey-700: #a7a8ab;
	--grey-800: #c2c3c4;
	--grey-900: #dddedf;
	--grey-950: #f9fafc;

	/* Opacity */
	--opacity-low: 0.1;
	--opacity-medium: 0.5;
	--opacity-high: 0.8;

	/* === Length primitives === */
	--size-1: 1px;
	--size-2: 2px;
	--size-4: 4px;
	--size-8: 8px;
	--size-12: 12px;
	--size-16: 16px;
	--size-20: 20px;
	--size-24: 24px;
	--size-28: 28px;
	--size-32: 32px;
	--size-40: 40px;
	--size-48: 48px;
	--size-64: 64px;
	--size-80: 80px;
	--size-96: 96px;
	--size-128: 128px;
	--size-160: 160px;
	--size-192: 192px;
	--size-256: 256px;

	/* === Semantic tokens === */
	--brand-primary: var(--red-treble-500);
	--brand-primary-rgb: 211, 42, 26;
	--background: var(--grey-900);

	--text-major: var(--grey-100);
	--text-minor: var(--grey-400);
	--text-link: var(--red-treble-500);

	--border-major: var(--grey-100);
	--border-minor: var(--grey-400);
	--border-diminished: var(--grey-600);

	--link-hover-bg: rgba(var(--red-treble-500-rgb), var(--opacity-low));

	/* === Semantic Spacing Tokens === */
	--space-xxs: var(--size-4);
	--space-xs: var(--size-8);
	--space-sm: var(--size-12);
	--space-md: var(--size-16);
	--space-lg: var(--size-24);
	--space-xl: var(--size-32);
	--space-2xl: var(--size-48);
	--space-3xl: var(--size-64);

	/* === Typography  === */
	--font-hk-grotesk: "HK Grotesk Pro", Arial, Helvetica, sans-serif;
	--font-hk-nova: "HK Nova", Arial, Helvetica, sans-serif;

	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-book: 350;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;
	--font-weight-ultra: 950;

	--font-size-sm: var(--size-12);
	--font-size-md: var(--size-16);
	--font-size-lg: var(--size-20);
	--font-size-xl: var(--size-24);
	--font-size-2xl: var(--size-28);
	--font-size-3xl: var(--size-32);
	--font-size-4xl: var(--size-48);

	--line-height-tight: 1.1;
	--line-height-snug: 1.25;
	--line-height-normal: 1.5;
	--line-height-loose: 1.75;

	--letter-spacing-tight: -0.01em;
	--letter-spacing-normal: 0em;
	--letter-spacing-wide: 0.02em;

	/* === Semantic Typography Tokens === */
	--font-body: var(--font-hk-grotesk);
	--font-display: var(--font-hk-nova);

	--body-font-size: var(--font-size-md);
	--body-font-weight: var(--font-weight-regular);
	--body-line-height: var(--line-height-normal);
	--body-letter-spacing: var(--letter-spacing-normal);

	--heading-font-family: var(--font-display);
	--heading-font-weight: var(--font-weight-bold);
	--heading-line-height: var(--line-height-tight);
	--heading-letter-spacing: var(--letter-spacing-normal);

	--label-font-family: var(--font-display);
	--label-font-size: var(--font-size-xs);
	--label-font-weight: var(--font-weight-bold);
	--label-letter-spacing: var(--letter-spacing-normal);
}

/* === HK Grotesk Pro === */

/* Hairline - 100 */
/*@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-Hairline.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 100;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-HairlineItalic.woff2') format('woff2');
	font-display: swap;
}*/

/* Thin - 175, standardise to 200 */
/*@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-Thin.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 200;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-ThinItalic.woff2') format('woff2');
	font-display: swap;
}*/

/* ExtraLight - 250, standardise to 200 */
/* @font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-ExtraLight.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 200;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-ExtraLightItalic.woff2') format('woff2');
	font-display: swap;
} */

/* Light - 300 */
/* @font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-Light.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 300;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-LightItalic.woff2') format('woff2');
	font-display: swap;
} */

/* Regular - 400 */
@font-face {
	font-family: "HK Grotesk Pro";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/HKGroteskPro/HKGroteskPro-Regular.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "HK Grotesk Pro";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/HKGroteskPro/HKGroteskPro-Italic.woff2") format("woff2");
	font-display: swap;
}

/* Medium - 500 */
/* @font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-Medium.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-MediumItalic.woff2') format('woff2');
	font-display: swap;
}

/* Semi-Bold - 600 */
/* @font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-SemiBold.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 600;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-SemiBoldItalic.woff2') format('woff2');
	font-display: swap;
} */

/* Bold - 700 */
@font-face {
	font-family: "HK Grotesk Pro";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/HKGroteskPro/HKGroteskPro-Bold.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "HK Grotesk Pro";
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/HKGroteskPro/HKGroteskPro-BoldItalic.woff2")
		format("woff2");
	font-display: swap;
}

/* Extra-Bold - 800 */
/*@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-ExtraBold.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 800;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-ExtraBoldItalic.woff2') format('woff2');
	font-display: swap;
}*/

/* Black - 900 */
/* @font-face {
	font-family: 'HK Grotesk Pro';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-Black.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'HK Grotesk Pro';
	font-style: italic;
	font-weight: 900;
	src: url('/fonts/HKGroteskPro/HKGroteskPro-BlackItalic.woff2') format('woff2');
	font-display: swap;
} */

/* === HK Nova === */

/* Thin - 100 */
/* @font-face {
	font-family: 'HK Nova';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/HKNova/HKNova-Thin.woff2') format('woff2');
	font-display: swap;
} */

/* ExtraLight - 200 */
/* @font-face {
	font-family: 'HK Nova';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/HKNova/HKNova-ExtraLight.woff2') format('woff2');
	font-display: swap;
} */

/* Light - 300 */
/* @font-face {
	font-family: 'HK Nova';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/HKNova/HKNova-Light.woff2') format('woff2');
	font-display: swap;
} */

/* Regular - 400 */
@font-face {
	font-family: "HK Nova";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/HKNova/HKNova-Regular.woff2") format("woff2");
	font-display: swap;
}

/* Medium - 500 */
@font-face {
	font-family: "HK Nova";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/HKNova/HKNova-Medium.woff2") format("woff2");
	font-display: swap;
}

/* Semi-Bold - 600 */
@font-face {
	font-family: "HK Nova";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/HKNova/HKNova-SemiBold.woff2") format("woff2");
	font-display: swap;
}

/* Bold - 700 */
@font-face {
	font-family: "HK Nova";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/HKNova/HKNova-Bold.woff2") format("woff2");
	font-display: swap;
}

/* Extra-Bold - 800 */
@font-face {
	font-family: "HK Nova";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/HKNova/HKNova-ExtraBold.woff2") format("woff2");
	font-display: swap;
}

/* Heavy - 900 */
/*@font-face {
	font-family: 'HK Nova';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/HKNova/HKNova-Heavy.woff2') format('woff2');
	font-display: swap;
} */
