/* AirlinerScatterPlot.module.css */

.gridLine line {
	stroke: var(--chart-gridline);
	stroke-width: 1;
	shape-rendering: geometricPrecision;
	opacity: 0.5;
}

.gridIntersectionDot {
	fill: var(--chart-grid-dot);
	shape-rendering: geometricPrecision;
	pointer-events: none;
}

.pointMarkerConnectingLineBackground {
	stroke: var(--background);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: 0.5;
}

.pointMarkerConnectingLineMinor {
	stroke: var(--border-minor);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: 0.2;
}

.pointMarkerConnectingLineMajor {
	stroke: var(--brand-primary-treble);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
}

.pointMarkerConnectingLineMajorHighlight {
	stroke: var(--brand-primary-treble);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: 0.3;
}
