/* AirlinerScatterPlot.module.css */

.gridLine line {
	stroke: var(--border-diminished);
	stroke-width: var(--border-weight-100);
	shape-rendering: geometricPrecision;
}

.gridIntersectionDot {
	fill: var(--border-diminished);
	shape-rendering: geometricPrecision;
	pointer-events: none;
}
.pointMarkerConnectingLineMinor {
	stroke: var(--surface-diminished);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: var(--opacity-50);
}

.pointMarkerConnectingLineMajor {
	stroke: var(--interactive-augmented);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
}

.pointMarkerLeader {
	stroke: var(--border-major);
	stroke-width: 1;
}