/* AirlinerScatterMarker.module.css */

/* Diamond marker style */
.markerDiamond {
	fill: var(--interactive-augmented);
	shape-rendering: geometricPrecision;
}

/* Short line used as a marker */
.markerLine {
	stroke: var(--border-minor);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: var(--opacity-100);
	stroke-width: var(--border-weight-200);
} 