/* AirlinerScatterLabel.module.css */

.airlinerLabel {
	fill: var(--text-minor);
	font-family: var(--font-family-display);
	font-weight: var(--font-weight-regular);
	font-size: var(--text-size-400);
	letter-spacing: var(--text-tracking-600);
}