/* AirlinerScatterPoint.module.css */

/* .pointGroup { } */

.pointLabel {
	fill: var(--text-minor);
	font-family: var(--font-display);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-normal);
}

.pointMarkerConnectingLineMinor {
	stroke: var(--border-minor);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: 0.4;
}

.pointMarkerConnectingLineMajor {
	stroke: var(--brand-primary);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
}

.pointMarkerConnectingLineMajorHighlight {
	stroke: var(--brand-primary);
	stroke-linecap: butt;
	shape-rendering: geometricPrecision;
	opacity: 0.3;
}