/* ChartBrush.module.css */

/* Brush control container */
.chartBrush {
	outline: 1px solid rgba(0, 0, 0, 0.1);
}

.xBrush {
	grid-area: xBrush;
}

.yBrush {
	grid-area: yBrush;
}

/* Brush control SVG rectangle */
.xBrush .chartBrushControl {
	fill: rgba(var(--brand-primary-rgb), var(--opacity-low));
	stroke: var(--brand-primary);
	stroke-width: 2;
}

.yBrush .chartBrushControl {
	fill: rgba(var(--brand-primary-rgb), var(--opacity-low));
	stroke: var(--brand-primary);
	stroke-width: 2;
}

.miniPointMarker {
	fill: var(--brand-primary);
	opacity: 0.8;
}